body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgb(89, 98, 226);
}

canvas {
    border: 3px solid black;
    background-image: url("images/dining-room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.gameStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
#score {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding: 20px;
    
}

#start-button {
    font-size: 20px;
    background-color: rgb(233, 193, 61);
    color: #fff;
    padding: 15px;
    border: 0;
    box-shadow: 50px;
    border-radius: 5px;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board p {
    font-size: 15px;
    font-family: "Verdana";
    line-height: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.game-description {
    display: flex;
    flex-direction: column;
}