canvas {
    border: 1px solid blue;
    background-image: url("images/dining-room.webp");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#score
{
    font-size: 20px;
    font-weight: bold;
    color: #CC0000;
}