body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 3px solid black;
    background-image: url("images/dining-room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#score
{
    font-size: 20px;
    font-weight: bold;
    color: #CC0000;
}

.game-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
  
.game-intro p {
    font-size: 15px;
    font-family: "Verdana";
    line-height: 10px;
}

.game-description {
    display: flex;
    flex-direction: column;
}

#start-button {
    margin-top 5px;
    font-size: 15px;
    background-color: thistle;
    color: #fff;
    padding: 15px;
    border: 0;
    box-shadow: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#game-board {
    margin: 0;
}